# Question -1
'''1. In the below elements which of them are values or an expression? 
eg:- values can be integer or string and expressions will be mathematical operators.
* 
'hello'
-87.8
- 
/ 


6 
'''

# Answer -1

In [2]:
print(f"  *       ---> mathematical operators")
print(f"  'hello' ---> string")
print(f"  '-87.8' ---> float")
print(f"  -       ---> mathematical operators")
print(f"  /       ---> mathematical operators")
print(f"  +       ---> mathematical operators")
print(f"  6       ---> integer")

  *       ---> mathematical operators
  'hello' ---> string
  '-87.8' ---> float
  -       ---> mathematical operators
  /       ---> mathematical operators
  +       ---> mathematical operators
  6       ---> integer

# Question -2
#2. What is the difference between string and variable

In [ ]:
''' "String" ----> "String is a value representing some text, This are Immutable  in nature. 
                  It is a collection of one or more characters put in a single quote, double-quote or triple quote

for eg.  a = "Hi i am learning python "

 Here a is name of variable 
 and the type of variable is string which contains some text

'''

' "String" ----> "String is a value representing some text, This are Immutable  in nature . \n                  It is a collection of one or more characters put in a single quote, double-quote or triple quote\n\nfor eg.  str a = "Hi i am learning python "\n\n Here a is name of variable \n and the type of variable is string which contains some text\n\n'

In [5]:
'''"variable" ---> "a variable is a name that can contains any value, It has some reserved memory location to store value
                    Variable do not need to be declared with any particular type, and can even change type after they have been set"
'''

'"variable" ---> "a variable is a name that can contains any value, It has some reserved memory location to store value\n                    Variable do not need to be declared with any particular type, and can even change type after they have been set"\n'

## Question -3
3. Describe three different data types

In [10]:
#1.List = List is used to store the collection of diffrent data type elements and it is immutable eg.[1,2,4,'Hello',[1,2,3],4] ''')
#2.Set =  "Set items are unordered, unchangeable,unindexed and do not allow duplicate values eg.seteg = {'apple', 'banana', 'cherry',123,3} "
#3.Dictionary = "Dictionaries are used to store data values in key:value pairs. A dictionary is a collection which is ordered, changeable and do not allow duplicates., Values can be duplicated but key should be unique"

## Question -4
4. What is an expression made up of? What do all expressions do?

Expression is made of operations and operands[value,variable, operators and function]
The main purpose of Expression to calculate new value. 

In every language the expression is evaluated as per the precedence of its operators. So that if there is more than one operator in an expression, their precedence decides which operation will be performed first

## Question -5
5. This assignment statements, like spam = 10. What is the difference between an expression and a statement?

Expression is made of Operartion and Operands to calculate a new value
 eg  a= 10 , b=20
   this is an airthmatic expression a+b

   
where in spam = 10 this is just assignment statement where spam is name of variable and value stored in it is 10
spam is variable
10  is value
= is used to assign  value in variable

## Question - 6
6. After running the following code, what does the variable bacon contain?
bacon = 22
bacon + 1

In [12]:
bacon =22
bacon+1

23

## Quesrion - 7
7. What should the values of the following two terms be?
'spam' + 'spamspam'
'spam' * 3

In [16]:
# Both the values got concatenated
'spam' + 'spamspam'

'spamspamspam'

In [17]:
# Everytime when we multiply a int number with  any values it will create that number if copies or it will write that values n no of times here n is int number

'spam' * 3

'spamspamspam'

## Question -8
8. Why is eggs a valid variable name while 100 is invalid?

In [32]:
###'''  RULES FOR DECLARING VARIBLE IN PYTHON

#1. A varible should not start with a number .  eg 100 , 2 is invalid variable name
#2. A variable can contain number but not at starting position . eg hel123 valid variable name
#3  A varible can contain underscore and can start with underscore or with eglish letter.  _saiyam
#4. A varible name can be case sensitive. eg . SaSiyan ="sam"
#5. A varible can contian alpha-numeric value.  eg SasSjs7845 = "Sam"

#'''

#Answer :By rule no 3 eggs is valid varible but 100 is invalid because of rule 1 and 2

In [23]:
_saiyam ="saiyam"
_saiyam

'saiyam'

In [29]:
SasSjs7845 = "Sam"
SasSjs7845

'Sam'

## Question - 9
9. What three functions can be used to get the integer, floating-point number, or string version of a value?

this below function can be used get values respectively

1.int()
2.float()
3.str()

##Question - 10
10. Why does this expression cause an error? How can you fix it?
'I have eaten ' + 99 + ' burritos.'

In [33]:
'I have eaten ' + 99 + ' burritos.'

TypeError: ignored

In [34]:
# To fix above code issue we have to type cast the int value into str
'I have eaten ' + str(99) + ' burritos.'

'I have eaten 99 burritos.'